*{
	margin:0;
	padding:0;
	border:none;
}

html,body{
	font-family: 'Microsoft YaHei';
    font-weight: bolder;
    font-size: 1.5rem;
	background:#f4f4f4;
}



.top{
	z-index:999;
}

.opacity{
	opacity:.3;
	transition:opacity .5s;
}
.opacity:hover{
	opacity:1
}

.no-underline{
	text-decoration:none;
    color: #fff;
}

.outTransition{
	opacity:0;
}

.inTransition{
	opacity:1;
}

#app-name{
	position: fixed;
    top: 10px;
    left: 20px;
    background: rgba(2, 6, 7, 0.3);
    padding: 10px;
}


#music{
	position:fixed;
	top:20px;
	right:30px;
	height:30px;
	width:30px;
	padding:10px;
	background:url(../music.svg) no-repeat;
	background-size:cover;
	transition:backgroundImage,opacity .5s,.5s;
}


#header{
	display:none;
	opacity:0;
	background:url(../1.jpg) no-repeat center;
	background-size:cover;
	transition:opacity 1s;
	height: 400px;
}
#list{
	transition:all 1s;
}
#article{
	width:80%;
	margin:50px auto;
	color: #3e3e3e;
}

#article-content{
	line-height:2.5rem;
	text-indent:3rem;    
    letter-spacing: 3px;
}


.item{
	position:relative;
}

.image{
	height:100%;
	width:100%;
	vertical-align:bottom;
}

.title{
    position: absolute;
    display: block;
    //top: calc(50% - 2ch);
	//left:calc(50% - 6ch);
	top: 50%;
	left:40%;
	max-width:14ch;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
	text-shadow:2px 3px 4px #686868;
	transition:background,text-shadow .5s,.5s;
}

.title:hover{
background: rgba(255, 255, 255,0);
text-shadow:2px 3px 4px #000;
}


.left-bar{
	float:left;
	width:50%;
	background:#ccc;
}
.right-bar{
	float:right;
	width:50%;
}

.center{
	text-align:center;
}
.more{
	background: #e7eaf2;
    padding: 20px;
    color: #727272;
}
.clear{
	clear:both;
}
.footer{
	margin-top:2rem;
	font-size:1rem;
	background:#ccc;
	background: #0f1315;
    padding: 20px;
    color: #fff;
}

#background{
	position:fixed;
	top:0;left:0;bottom:0;right:0;
	margin:auto;
	width:175px;
	height:98px;
	opacity:0;
	transition:opacity 1s;
}




@media screen and (max-width: 750px){
	#list{
		font-size:1rem;
	}
	
	#article-content{
	line-height:1.5rem;
	text-indent:2.3rem;    
	}
}

@media screen and (max-width: 500px){
	#list{
		font-size:0.8rem;
	}
}