@font-face {font-family: 'jmmaobi';src: url('https://raw.githubusercontent.com/b41/b41.github.io/master/font.png') format('woff2'),url('https://raw.githubusercontent.com/b41/b41.github.io/master/font.bmp') format('woff');font-weight: normal;font-style: normal;}.css{font-family: 'jmmaobi';}

::-webkit-scrollbar{width:5px}
::-webkit-scrollbar-track{background-color:#fff}
::-webkit-scrollbar-thumb{background-color:#4b6682}
::-webkit-scrollbar-thumb:hover{background-color:#656565}
::-webkit-scrollbar-thumb:active{background-color:#fff}


*{
	margin:0;
	padding:0;
	border:0;
}

html,body{
  font-weight: bolder;
  font-size: 1.5rem;
	background:#f4f4f4;
}


.ab-center{
  position:fixed;
  top:0;bottom:0;left:0;right:0;
  margin:auto;
}


.welcome{
  font-size:8rem;
  width:16rem;
  height:9rem;
  background-image:url(../img/noise.svg);
  background-size:cover;
  filter:blur(1px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top{
	z-index:999;
}

.hidden{
	display:none;
}

.opacity{
	opacity:.3;
	transition:opacity .5s;
}
.opacity:hover{
	opacity:1
}

.no-underline{
	text-decoration:none;
    color: #fff;
}

.outTransition{
	opacity:0;
}

.inTransition{
	opacity:1;
}

#appName{
	position: fixed;
    top: 10px;
    left: 20px;
    background: rgba(2, 6, 7, 0.3);
    padding: 10px;
}

#loading{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1000;
  background: #fefefe;
  transition:opacity 1s;
}

.spinner{
	display: none;
	font-size: 87px;
    text-align: center;
    line-height: 0;
    -webkit-text-fill-color: rgb(0, 0, 0);
    animation: spinning 5s ease-out infinite;
}

#music{
	position:fixed;
	top:20px;
	right:30px;
	height:30px;
	width:30px;
	padding:10px;
	background:url(../img/music.svg) no-repeat;
	background-size:cover;
	transition:backgroundImage,opacity .5s,.5s;
	cursor:pointer;
}


#header{
	display:none;
	opacity:0;
	background:no-repeat center;
	background-size:cover;
	transition:opacity 1s;
	height: 400px;
}
#list{
	transition:opacity 1s;
}

#background{
	position:fixed;
	top:0;left:0;bottom:0;right:0;
	margin:auto;
	width:175px;
	height:98px;
	opacity:0;
	display:none;
	transition:opacity 1s;
}


#article{
	width:70%;
	margin:50px auto;
	color: #3e3e3e;
	font-family: monospace;
  font-weight: normal;
}

#article h1{
	font-size: 1.5em;
	margin-bottom: 5%;
	font-family: auto;
    font-weight: 500;
    color: #2f2f2f;
}

#article-content{
  line-height: 2.5rem;
  text-indent: 2em;
}
#article-content blockquote{
  font-family: "Calibri";
  border-left: 10px #d0d0d0 solid;
  padding: 20px 0px 20px 5%;
  margin: 20px;
  color: #888888;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1.5;
}

#article-content code{
  padding: 3px 10px;
  background: #e2e2e2;
}

.item{
	position:relative;
}

.image{
	height:100%;
	width:100%;
	vertical-align:bottom;
}

.title{
  position: absolute;
  display: block;
	top: 40%;
	left:40%;
	max-width:14ch;
  padding: 20px;
  background: rgba(255, 255, 255, 0.4);
  color: #fff;
	text-shadow:2px 3px 4px #686868;
	transition:background,text-shadow .5s,.5s;
}

.title:hover{
background: rgba(255, 255, 255,0);
text-shadow:2px 3px 4px #000;
}

.pre-next-article{
	font-size: 1.1rem;
  font-family: "宋体";
	background: #e1e1e1;
  padding: 20px 0;
}
.left-bar{
	float:left;
	width:50%;
}
.right-bar{
	float:right;
	width:50%;
	text-align: right;
}
.link{
	color:#000;
	padding: 23px 0;
	transition:background,color 1s,.5s;
}
.link:hover{
	background:#858282;
	color:#fff;
}


.center{
	text-align:center;
}
.more{
	background: #e7eaf2;
  padding: 20px;
  color: #727272;
}
.clear{
	clear:both;
}
.footer{
	font-size:1rem;
	background: #1a1a1a;
  padding: 20px;
  color: #e6e6e6;
}


@media screen and (max-width: 850px){
	#list{
  font-size:1rem;
	}
  #article{
	width:80%;
}
	#article-content{
	line-height:1.8rem;  
	}
	
  .pre-next-article{
	font-size:1rem;
  }
  
  #article-content blockquote{
  border-left: 3px #d0d0d0 solid;
  }

}

@media screen and (max-width: 500px){
	#list{
  font-size:0.8rem;
	}
	
	#article{
	width:80%;
}
#article h1{
	font-size:1rem;
}
  .pre-next-article{
	font-size:.8rem;
}
}

@media screen and (max-width: 420px){
	html,body{
  font-size: 1.4rem;
}
#article{
	width:80%;
}
#article h1{
	font-size:1rem;
}
	.pre-next-article{
	font-size:.8rem;
}

.footer{
  font-size:.9rem;
	}

}

@media screen and (max-width: 350px){

	
	html,body{
  font-size: 1.2rem;
}

#appName{
	left:10px;
}
#music{
	top:10px;
	right:10px;
}

#article{
	width:90%;
}
#article h1{
	font-size:1rem;
}

.pre-next-article{
	font-size:.8rem;
}
	.footer{
  font-size:.8rem;
	}
}


@keyframes spinning{
	0%{opacity: 0}
	50%{opacity: 1}
	100%{opacity: 0}
}