*{
	margin:0;
	padding:0;
	border:none;
}

html,body{
	font-family: 'Microsoft YaHei';
    font-weight: bolder;
    font-size: 1.5rem;
}



.top{
	z-index:999;
}

.opacity{
	opacity:.3;
	transition:opacity .5s;
}
.opacity:hover{
	opacity:1
}

#app-name{
position: fixed;
    top: 10px;
    left: 10px;
    background: rgba(2, 6, 7, 0.3);
    color: #fff;
    padding: 10px;
}

#music{
	position:fixed;
	top:10px;
	right:10px;
	height:20px;
	width:20px;
	padding:10px;
	background:url(../music.svg) no-repeat;
	background-size:cover;
}


.item{
	position:relative;
}
.image{
	height:100%;
	width:100%;

}
.title{
      position: absolute;
    display: block;
    //top: calc(50% - 2ch);
	//left:calc(50% - 6ch);
	top: 50%;
	left:40%;
	max-width:14ch;
    padding: 20px;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
	text-shadow:2px 3px 4px #686868;
}